.root {
    -fx-background-color: #f9fafc;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.text-field, .password-field {
    -fx-pref-width: 220;
    -fx-font-size: 13px;
    -fx-padding: 6 10 6 10; /* top, right, bottom, left */
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #bbb;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 6 0 6 0;
    -fx-background-radius: 4;
    -fx-pref-width: 220;
}


.button:hover {
    -fx-background-color: #3367d6;
}

.label {
    -fx-font-size: 13px;
}

#errorLabel {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
