.root {
    -fx-background-color: #f9fafc;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.text-field, .password-field {
    -fx-pref-width: 220;
    -fx-font-size: 13px;
    -fx-padding: 6 10 6 10; /* top, right, bottom, left */
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #bbb;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 6 0 6 0;
    -fx-background-radius: 4;
    -fx-pref-width: 220;
}


.button:hover {
    -fx-background-color: #3367d6;
}

.label {
    -fx-font-size: 13px;
}

#errorLabel {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
/* TabPane header background */
.tab-header-area {
    -fx-background-color: #dddddd;
}

/* Tabs base */
.tab {
    -fx-background-color: transparent;
    -fx-padding: 6 15 6 15;
    -fx-border-color: transparent;
}

/* Tab label */
.tab-label {
    -fx-font-size: 13px;
    -fx-text-fill: #444444;
}

/* Hover tab */
.tab:hover {
    -fx-background-color: #eeeeee;
}

/* Selected tab */
.tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1 1 0 1;
}

/* Selected tab label */
.tab:selected .tab-label {
    -fx-text-fill: #000000;
}

.danger-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 4 10;
    -fx-background-radius: 4;
}